$--font-path: 'fonts' !default;
$--font-display: 'auto' !default;

@font-face {
  font-family: element-icons;
  src: url('#{$--font-path}/element-icons.woff') format('woff'), /* chrome, firefox */
       url('#{$--font-path}/element-icons.ttf') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */

  font-weight: normal;
  font-display: $--font-display;
  font-style: normal;
}

[class^="su-icon-"], [class*=" su-icon-"] {
  display: inline-block;

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: element-icons !important;
  font-weight: normal;
  line-height: 1;
  speak: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  vertical-align: baseline;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.su-icon-ice-cream-round::before {
  content: "\e6a0";
}

.su-icon-ice-cream-square::before {
  content: "\e6a3";
}

.su-icon-lollipop::before {
  content: "\e6a4";
}

.su-icon-potato-strips::before {
  content: "\e6a5";
}

.su-icon-milk-tea::before {
  content: "\e6a6";
}

.su-icon-ice-drink::before {
  content: "\e6a7";
}

.su-icon-ice-tea::before {
  content: "\e6a9";
}

.su-icon-coffee::before {
  content: "\e6aa";
}

.su-icon-orange::before {
  content: "\e6ab";
}

.su-icon-pear::before {
  content: "\e6ac";
}

.su-icon-apple::before {
  content: "\e6ad";
}

.su-icon-cherry::before {
  content: "\e6ae";
}

.su-icon-watermelon::before {
  content: "\e6af";
}

.su-icon-grape::before {
  content: "\e6b0";
}

.su-icon-refrigerator::before {
  content: "\e6b1";
}

.su-icon-goblet-square-full::before {
  content: "\e6b2";
}

.su-icon-goblet-square::before {
  content: "\e6b3";
}

.su-icon-goblet-full::before {
  content: "\e6b4";
}

.su-icon-goblet::before {
  content: "\e6b5";
}

.su-icon-cold-drink::before {
  content: "\e6b6";
}

.su-icon-coffee-cup::before {
  content: "\e6b8";
}

.su-icon-water-cup::before {
  content: "\e6b9";
}

.su-icon-hot-water::before {
  content: "\e6ba";
}

.su-icon-ice-cream::before {
  content: "\e6bb";
}

.su-icon-dessert::before {
  content: "\e6bc";
}

.su-icon-sugar::before {
  content: "\e6bd";
}

.su-icon-tableware::before {
  content: "\e6be";
}

.su-icon-burger::before {
  content: "\e6bf";
}

.su-icon-knife-fork::before {
  content: "\e6c1";
}

.su-icon-fork-spoon::before {
  content: "\e6c2";
}

.su-icon-chicken::before {
  content: "\e6c3";
}

.su-icon-food::before {
  content: "\e6c4";
}

.su-icon-dish-1::before {
  content: "\e6c5";
}

.su-icon-dish::before {
  content: "\e6c6";
}

.su-icon-moon-night::before {
  content: "\e6ee";
}

.su-icon-moon::before {
  content: "\e6f0";
}

.su-icon-cloudy-and-sunny::before {
  content: "\e6f1";
}

.su-icon-partly-cloudy::before {
  content: "\e6f2";
}

.su-icon-cloudy::before {
  content: "\e6f3";
}

.su-icon-sunny::before {
  content: "\e6f6";
}

.su-icon-sunset::before {
  content: "\e6f7";
}

.su-icon-sunrise-1::before {
  content: "\e6f8";
}

.su-icon-sunrise::before {
  content: "\e6f9";
}

.su-icon-heavy-rain::before {
  content: "\e6fa";
}

.su-icon-lightning::before {
  content: "\e6fb";
}

.su-icon-light-rain::before {
  content: "\e6fc";
}

.su-icon-wind-power::before {
  content: "\e6fd";
}

.su-icon-baseball::before {
  content: "\e712";
}

.su-icon-soccer::before {
  content: "\e713";
}

.su-icon-football::before {
  content: "\e715";
}

.su-icon-basketball::before {
  content: "\e716";
}

.su-icon-ship::before {
  content: "\e73f";
}

.su-icon-truck::before {
  content: "\e740";
}

.su-icon-bicycle::before {
  content: "\e741";
}

.su-icon-mobile-phone::before {
  content: "\e6d3";
}

.su-icon-service::before {
  content: "\e6d4";
}

.su-icon-key::before {
  content: "\e6e2";
}

.su-icon-unlock::before {
  content: "\e6e4";
}

.su-icon-lock::before {
  content: "\e6e5";
}

.su-icon-watch::before {
  content: "\e6fe";
}

.su-icon-watch-1::before {
  content: "\e6ff";
}

.su-icon-timer::before {
  content: "\e702";
}

.su-icon-alarm-clock::before {
  content: "\e703";
}

.su-icon-map-location::before {
  content: "\e704";
}

.su-icon-delete-location::before {
  content: "\e705";
}

.su-icon-add-location::before {
  content: "\e706";
}

.su-icon-location-information::before {
  content: "\e707";
}

.su-icon-location-outline::before {
  content: "\e708";
}

.su-icon-location::before {
  content: "\e79e";
}

.su-icon-place::before {
  content: "\e709";
}

.su-icon-discover::before {
  content: "\e70a";
}

.su-icon-first-aid-kit::before {
  content: "\e70b";
}

.su-icon-trophy-1::before {
  content: "\e70c";
}

.su-icon-trophy::before {
  content: "\e70d";
}

.su-icon-medal::before {
  content: "\e70e";
}

.su-icon-medal-1::before {
  content: "\e70f";
}

.su-icon-stopwatch::before {
  content: "\e710";
}

.su-icon-mic::before {
  content: "\e711";
}

.su-icon-copy-document::before {
  content: "\e718";
}

.su-icon-full-screen::before {
  content: "\e719";
}

.su-icon-switch-button::before {
  content: "\e71b";
}

.su-icon-aim::before {
  content: "\e71c";
}

.su-icon-crop::before {
  content: "\e71d";
}

.su-icon-odometer::before {
  content: "\e71e";
}

.su-icon-time::before {
  content: "\e71f";
}

.su-icon-bangzhu::before {
  content: "\e724";
}

.su-icon-close-notification::before {
  content: "\e726";
}

.su-icon-microphone::before {
  content: "\e727";
}

.su-icon-turn-off-microphone::before {
  content: "\e728";
}

.su-icon-position::before {
  content: "\e729";
}

.su-icon-postcard::before {
  content: "\e72a";
}

.su-icon-message::before {
  content: "\e72b";
}

.su-icon-chat-line-square::before {
  content: "\e72d";
}

.su-icon-chat-dot-square::before {
  content: "\e72e";
}

.su-icon-chat-dot-round::before {
  content: "\e72f";
}

.su-icon-chat-square::before {
  content: "\e730";
}

.su-icon-chat-line-round::before {
  content: "\e731";
}

.su-icon-chat-round::before {
  content: "\e732";
}

.su-icon-set-up::before {
  content: "\e733";
}

.su-icon-turn-off::before {
  content: "\e734";
}

.su-icon-open::before {
  content: "\e735";
}

.su-icon-connection::before {
  content: "\e736";
}

.su-icon-link::before {
  content: "\e737";
}

.su-icon-cpu::before {
  content: "\e738";
}

.su-icon-thumb::before {
  content: "\e739";
}

.su-icon-female::before {
  content: "\e73a";
}

.su-icon-male::before {
  content: "\e73b";
}

.su-icon-guide::before {
  content: "\e73c";
}

.su-icon-news::before {
  content: "\e73e";
}

.su-icon-price-tag::before {
  content: "\e744";
}

.su-icon-discount::before {
  content: "\e745";
}

.su-icon-wallet::before {
  content: "\e747";
}

.su-icon-coin::before {
  content: "\e748";
}

.su-icon-money::before {
  content: "\e749";
}

.su-icon-bank-card::before {
  content: "\e74a";
}

.su-icon-box::before {
  content: "\e74b";
}

.su-icon-present::before {
  content: "\e74c";
}

.su-icon-sell::before {
  content: "\e6d5";
}

.su-icon-sold-out::before {
  content: "\e6d6";
}

.su-icon-shopping-bag-2::before {
  content: "\e74d";
}

.su-icon-shopping-bag-1::before {
  content: "\e74e";
}

.su-icon-shopping-cart-2::before {
  content: "\e74f";
}

.su-icon-shopping-cart-1::before {
  content: "\e750";
}

.su-icon-shopping-cart-full::before {
  content: "\e751";
}

.su-icon-smoking::before {
  content: "\e752";
}

.su-icon-no-smoking::before {
  content: "\e753";
}

.su-icon-house::before {
  content: "\e754";
}

.su-icon-table-lamp::before {
  content: "\e755";
}

.su-icon-school::before {
  content: "\e756";
}

.su-icon-office-building::before {
  content: "\e757";
}

.su-icon-toilet-paper::before {
  content: "\e758";
}

.su-icon-notebook-2::before {
  content: "\e759";
}

.su-icon-notebook-1::before {
  content: "\e75a";
}

.su-icon-files::before {
  content: "\e75b";
}

.su-icon-collection::before {
  content: "\e75c";
}

.su-icon-receiving::before {
  content: "\e75d";
}

.su-icon-suitcase-1::before {
  content: "\e760";
}

.su-icon-suitcase::before {
  content: "\e761";
}

.su-icon-film::before {
  content: "\e763";
}

.su-icon-collection-tag::before {
  content: "\e765";
}

.su-icon-data-analysis::before {
  content: "\e766";
}

.su-icon-pie-chart::before {
  content: "\e767";
}

.su-icon-data-board::before {
  content: "\e768";
}

.su-icon-data-line::before {
  content: "\e76d";
}

.su-icon-reading::before {
  content: "\e769";
}

.su-icon-magic-stick::before {
  content: "\e76a";
}

.su-icon-coordinate::before {
  content: "\e76b";
}

.su-icon-mouse::before {
  content: "\e76c";
}

.su-icon-brush::before {
  content: "\e76e";
}

.su-icon-headset::before {
  content: "\e76f";
}

.su-icon-umbrella::before {
  content: "\e770";
}

.su-icon-scissors::before {
  content: "\e771";
}

.su-icon-mobile::before {
  content: "\e773";
}

.su-icon-attract::before {
  content: "\e774";
}

.su-icon-monitor::before {
  content: "\e775";
}

.su-icon-search::before {
  content: "\e778";
}

.su-icon-takeaway-box::before {
  content: "\e77a";
}

.su-icon-paperclip::before {
  content: "\e77d";
}

.su-icon-printer::before {
  content: "\e77e";
}

.su-icon-document-add::before {
  content: "\e782";
}

.su-icon-document::before {
  content: "\e785";
}

.su-icon-document-checked::before {
  content: "\e786";
}

.su-icon-document-copy::before {
  content: "\e787";
}

.su-icon-document-delete::before {
  content: "\e788";
}

.su-icon-document-remove::before {
  content: "\e789";
}

.su-icon-tickets::before {
  content: "\e78b";
}

.su-icon-folder-checked::before {
  content: "\e77f";
}

.su-icon-folder-delete::before {
  content: "\e780";
}

.su-icon-folder-remove::before {
  content: "\e781";
}

.su-icon-folder-add::before {
  content: "\e783";
}

.su-icon-folder-opened::before {
  content: "\e784";
}

.su-icon-folder::before {
  content: "\e78a";
}

.su-icon-edit-outline::before {
  content: "\e764";
}

.su-icon-edit::before {
  content: "\e78c";
}

.su-icon-date::before {
  content: "\e78e";
}

.su-icon-c-scale-to-original::before {
  content: "\e7c6";
}

.su-icon-view::before {
  content: "\e6ce";
}

.su-icon-loading::before {
  content: "\e6cf";
}

.su-icon-rank::before {
  content: "\e6d1";
}

.su-icon-sort-down::before {
  content: "\e7c4";
}

.su-icon-sort-up::before {
  content: "\e7c5";
}

.su-icon-sort::before {
  content: "\e6d2";
}

.su-icon-finished::before {
  content: "\e6cd";
}

.su-icon-refresh-left::before {
  content: "\e6c7";
}

.su-icon-refresh-right::before {
  content: "\e6c8";
}

.su-icon-refresh::before {
  content: "\e6d0";
}

.su-icon-video-play::before {
  content: "\e7c0";
}

.su-icon-video-pause::before {
  content: "\e7c1";
}

.su-icon-d-arrow-right::before {
  content: "\e6dc";
}

.su-icon-d-arrow-left::before {
  content: "\e6dd";
}

.su-icon-arrow-up::before {
  content: "\e6e1";
}

.su-icon-arrow-down::before {
  content: "\e6df";
}

.su-icon-arrow-right::before {
  content: "\e6e0";
}

.su-icon-arrow-left::before {
  content: "\e6de";
}

.su-icon-top-right::before {
  content: "\e6e7";
}

.su-icon-top-left::before {
  content: "\e6e8";
}

.su-icon-top::before {
  content: "\e6e6";
}

.su-icon-bottom::before {
  content: "\e6eb";
}

.su-icon-right::before {
  content: "\e6e9";
}

.su-icon-back::before {
  content: "\e6ea";
}

.su-icon-bottom-right::before {
  content: "\e6ec";
}

.su-icon-bottom-left::before {
  content: "\e6ed";
}

.su-icon-caret-top::before {
  content: "\e78f";
}

.su-icon-caret-bottom::before {
  content: "\e790";
}

.su-icon-caret-right::before {
  content: "\e791";
}

.su-icon-caret-left::before {
  content: "\e792";
}

.su-icon-d-caret::before {
  content: "\e79a";
}

.su-icon-share::before {
  content: "\e793";
}

.su-icon-menu::before {
  content: "\e798";
}

.su-icon-s-grid::before {
  content: "\e7a6";
}

.su-icon-s-check::before {
  content: "\e7a7";
}

.su-icon-s-data::before {
  content: "\e7a8";
}

.su-icon-s-opportunity::before {
  content: "\e7aa";
}

.su-icon-s-custom::before {
  content: "\e7ab";
}

.su-icon-s-claim::before {
  content: "\e7ad";
}

.su-icon-s-finance::before {
  content: "\e7ae";
}

.su-icon-s-comment::before {
  content: "\e7af";
}

.su-icon-s-flag::before {
  content: "\e7b0";
}

.su-icon-s-marketing::before {
  content: "\e7b1";
}

.su-icon-s-shop::before {
  content: "\e7b4";
}

.su-icon-s-open::before {
  content: "\e7b5";
}

.su-icon-s-management::before {
  content: "\e7b6";
}

.su-icon-s-ticket::before {
  content: "\e7b7";
}

.su-icon-s-release::before {
  content: "\e7b8";
}

.su-icon-s-home::before {
  content: "\e7b9";
}

.su-icon-s-promotion::before {
  content: "\e7ba";
}

.su-icon-s-operation::before {
  content: "\e7bb";
}

.su-icon-s-unfold::before {
  content: "\e7bc";
}

.su-icon-s-fold::before {
  content: "\e7a9";
}

.su-icon-s-platform::before {
  content: "\e7bd";
}

.su-icon-s-order::before {
  content: "\e7be";
}

.su-icon-s-cooperation::before {
  content: "\e7bf";
}

.su-icon-bell::before {
  content: "\e725";
}

.su-icon-message-solid::before {
  content: "\e799";
}

.su-icon-video-camera::before {
  content: "\e772";
}

.su-icon-video-camera-solid::before {
  content: "\e796";
}

.su-icon-camera::before {
  content: "\e779";
}

.su-icon-camera-solid::before {
  content: "\e79b";
}

.su-icon-download::before {
  content: "\e77c";
}

.su-icon-upload2::before {
  content: "\e77b";
}

.su-icon-upload::before {
  content: "\e7c3";
}

.su-icon-picture-outline-round::before {
  content: "\e75f";
}

.su-icon-picture-outline::before {
  content: "\e75e";
}

.su-icon-picture::before {
  content: "\e79f";
}

.su-icon-close::before {
  content: "\e6db";
}

.su-icon-check::before {
  content: "\e6da";
}

.su-icon-plus::before {
  content: "\e6d9";
}

.su-icon-minus::before {
  content: "\e6d8";
}

.su-icon-help::before {
  content: "\e73d";
}

.su-icon-s-help::before {
  content: "\e7b3";
}

.su-icon-circle-close::before {
  content: "\e78d";
}

.su-icon-circle-check::before {
  content: "\e720";
}

.su-icon-circle-plus-outline::before {
  content: "\e723";
}

.su-icon-remove-outline::before {
  content: "\e722";
}

.su-icon-zoom-out::before {
  content: "\e776";
}

.su-icon-zoom-in::before {
  content: "\e777";
}

.su-icon-error::before {
  content: "\e79d";
}

.su-icon-success::before {
  content: "\e79c";
}

.su-icon-circle-plus::before {
  content: "\e7a0";
}

.su-icon-remove::before {
  content: "\e7a2";
}

.su-icon-info::before {
  content: "\e7a1";
}

.su-icon-question::before {
  content: "\e7a4";
}

.su-icon-warning-outline::before {
  content: "\e6c9";
}

.su-icon-warning::before {
  content: "\e7a3";
}

.su-icon-goods::before {
  content: "\e7c2";
}

.su-icon-s-goods::before {
  content: "\e7b2";
}

.su-icon-star-off::before {
  content: "\e717";
}

.su-icon-star-on::before {
  content: "\e797";
}

.su-icon-more-outline::before {
  content: "\e6cc";
}

.su-icon-more::before {
  content: "\e794";
}

.su-icon-phone-outline::before {
  content: "\e6cb";
}

.su-icon-phone::before {
  content: "\e795";
}

.su-icon-user::before {
  content: "\e6e3";
}

.su-icon-user-solid::before {
  content: "\e7a5";
}

.su-icon-setting::before {
  content: "\e6ca";
}

.su-icon-s-tools::before {
  content: "\e7ac";
}

.su-icon-delete::before {
  content: "\e6d7";
}

.su-icon-delete-solid::before {
  content: "\e7c9";
}

.su-icon-eleme::before {
  content: "\e7c7";
}

.su-icon-platform-eleme::before {
  content: "\e7ca";
}

.su-icon-loading {
  animation: rotating 2s linear infinite;
}

.su-icon--right {
  margin-left: 5px;
}

.su-icon--left {
  margin-right: 5px;
}

@keyframes rotating {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
